include *.txt *.py LICENSE README.md tox.ini
include src/elm_doc/assets/assets.tar.gz

exclude .github
exclude .gitmodules
exclude ci.sh
exclude dependencies.yml
exclude dodo.py
exclude setup.py
exclude RELEASING.md
exclude *.in
exclude *.lock
exclude *.nix
exclude vendor
recursive-exclude vendor *
exclude workspace
recursive-exclude workspace *
