[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
doit = "*"
retrying = "*"
typing = "*"
attrs = "*"
dirsync = "*"
parsy = "*"
requests = "*"

[dev-packages]
tox = "*"
pytest-mock = "*"
check-manifest = "*"
pip = "*"
setuptools = "*"
twine = "*"
wheel = "*"
keyring = "*"

[requires]
python_version = "3.6"
