[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
doit = "*"
python-magic = "*"
retrying = "*"
typing = "*"

[dev-packages]
tox = "*"

[requires]
python_version = "3.6"
